*.svg
dist
node_modules
build
deploy/linux/build
deploy/linux/alby-installer-linux/assets
deploy/linux/alby-installer-linux/dist
deploy/appimage
deploy/tmp
deploy/appimage/tmp
x.git
tmp
deploy/linux/alby-installer-linux/version.json
deploy/linux/alby-installer-linux/release.*
deploy/linux/alby-installer-linux/.env.sh
deploy/linux/alby-installer-linux/.env
