#container {
    background-color: #272727;
}
QPushButton {
    background-color: #272727;
    color: #cacaca;
    border: 0.2vh solid #cacaca;
    border-radius: 0.4vh;
    margin: 0.2vh;
    height: 6vh;
    font-weight: bold;
}

QLabel {
    color: #cacaca;

}

QProgressBar {
    background:#272727;
    text-align: center;
    font-size: 2vh;
    font-weight: bold;
}

QProgressBar::chunk {
    background-color: #585858;

}

#browser-title{
    color: #272727;
  
}

#browser {
   
    background-color: #585858;

}
